/* ----------------------------------------- */
/*               ~ COLORS ~                  */
/* ----------------------------------------- */

$colors: (
  primary: #ff9000,
  secondary: #f47e00,
  dark: #222,
  darker: #000,
  light: #FFF,
  lighter: #f1f1f1,
  gray: #656565,
  lightergray: #666,
  lightestgray: #888,
  lightgray: #e5e5e5,
);

