<footer class="footer-area">
    <div class="footer-top-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget footer-logo">
                        <img src="{{ asset('build/images/app/logo-rsv.png') }}" alt="Rétablir sa Vérité">
                        <p>Rétablir sa Vérité est une plateforme permettant à tout en chacun d'obtenir des réponses à diverses questions à la lumière de la parole de Dieu.</p>
                        <p>Vous avez une question ? <br><a href="#">Posez là nous.</a></p>
                        {#<ul>
                            <li>
                                <span>Address:</span> 70 Bowman St.South
                                <br> Windsor, CT 06074
                            </li>
                            <li>
                                <span>Contact:</span> +00 568 468 968
                                <br> +00 469 856 576
                            </li>
                        </ul>#}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget widget_recent_entries">
                        {{ render(controller('App\\Controller\\Rsv\\RsvController::latesttopics')) }}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget widget_recent_entries">
                        {{ render(controller('App\\Controller\\Rsv\\RsvController::latesttopics')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>Copyright {{ "now"|date("Y") }}, Tous Droits Réservés
                            <span>Ministère Prophétique <a target="_blank" href="https://uncoeurnouveau.fr">Un Coeur Nouveau</a>
                            | Développé par <a target="_blank" href="https://biyn.media">Biyn Média</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
