<div class="instagram-area mb-80">

    {% for verse in verses %}
        <div class="instagram-wrap">
            {# TODO : Add light box on click #}
            <a href="javascript:void(0)">
                <img src="{{ asset('uploads/320/' ~ verse.image) }}" alt="Verse {{ verse.id }}">
            </a>
        </div>
    {% endfor %}

    <div class="instagram-content">
        <a href="#">Suivez-nous sur Instragram</a>
    </div>
</div>
