<form action="#">
    <h2>Inscrivez-vous et recevez tous les mois de nouveaux éclairages bibliques.</h2>
    <input type="text" placeholder="Prénom...">
    <input type="email" placeholder="Email...">
    <button>Je m'inscris !</button>
</form>