{% extends "front_layout.html.twig" %}

{% block page_title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3>Inscription</h3>
                <p class="mb-2">Rétablir sa Vérité est une plateforme permettant à tout en chacun d'obtenir des réponses à diverses questions à la lumière de la parole de Dieu. <u>Inscrivez-vous et apportez votre point de vue à nos eclairages.</u></p>
                <div class="mb-60">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
