{% extends "front_layout.html.twig" %}

{% block page_title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3>Inscription</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cum cupiditate deserunt dolor enim eos ipsum iure modi nam? Aspernatur culpa deleniti eveniet excepturi maxime mollitia neque obcaecati placeat?</p>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
